.App {
  font-family: sans-serif;
}

input {
  padding: 0.4rem 0.5rem;
  font-size: 1.2rem;
}
.grid_txt {
  display: grid;
  gap: 0.7rem;
  margin-bottom: 1.5rem;
}
.container {
  width: 75%;
  margin: auto;
}

.btn_con {
  margin-top: 1.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 85%;
  max-width: 40rem;
  margin: auto;
}

button {
  font-size: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form_group {
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
  justify-items: center;
  text-transform: capitalize;
}
.form_group.norm {
  justify-items: stretch;
}
.dnd_con {
  margin-bottom: 1.8rem;
  border: 2px dashed #888;
}
.bl,
.gr {
  padding: 9px 1rem;
}
.bl {
  background-color: #000;

  color: white;
}
.gr {
  background-color: #68aa13;
  color: #fff;
}
.bg {
  background-color: #68aa13;
  color: #fff;
}
